<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="examplemodule" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Example Module</label>
            <tab>webgrip</tab>
            <resource>WebGrip_ExampleModule::examplemodule</resource>
            <group id="dashboard" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Dashboard</label>
                <field id="index" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Index</label>
                    <comment>Index</comment>
                    <frontend_model>WebGrip\ExampleModule\Block\Adminhtml\System\Config\Index</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
